<%=
  @title = "#{@cosme.name} Users"
  erb :"common/header"
%>

<div id="common-main">

<div id="common-left">
  <div class="photo-list">
    <% @photo_list.each do|face| %>
      <div class="photo-block">
        <%=
          @face = face
          @link_photo_user_name = true
          erb :"common/photo_block"
        %>
      </div>
    <% end %>
  </div>
</div>

<div id="common-right">
  <div class="cosmetic-list">
    <div class="cosmetic-block">
      <%=
        @not_search_cosme_link = true
        erb :"common/cosmetic_block"
      %>
    </div>
  </div>
</div>

</div>

<%= erb :"common/footer" %>
