@charset "utf-8";

/*
#id{}
.class{}
tag{}

tag, tag, #id, .class {}

.class img
<div class="class">
  <img ...>
</div>
*/

* { margin : 0 ; padding : 0 ; }
body {
	color : #3399cc ;
}

#header { width : 80% ; height : 150px ; margin-bottom: 10px;}
#footer { width : 80% ; clear : both ; color : #fc0082 ; margin: 10px 50px;}

.error {
  color: red;
}

#common-main { 
	position : relative ;
	margin: 0 auto; width : 700px ;
  padding-right: 20%;
}
#common-right { float : left ; width : 350px ; }
#common-left { float : left ; width : 350px ; }

/** /index **/
.photo-list { width : 350px ; }
.photo-block { clear: both; width : 350px ; padding: 10px;}

.cosmetic-list { width : 350px ; }
.cosmetic-block { clear: both; width : 350px ; padding: 10px;}

.photo { float : left ; }
.explanation { float: left; width : 150px ; }

.user-name { }
.user-level { }
.date { }

.cosme-part { }
.jancode {  }
.cosme-url { }

/** /face/1 **/
#face-main { 
	position : relative ;
	margin: 0 auto; width : 1000px ;
}
#photoset-mainphoto { float: left; width: 900px }
#photoset-mainphoto img { width: 900px;}

#photoset-parts { float: left; width: 100px; }
#photoset-parts img { width: 100px; padding: 5px; }
#photoset-description { clear: both; }

.face-cosmetic-block { float: left; width : 250px ; padding: 10px;}
