@charset "utf-8";

/*
#id{}
.class{}
tag{}

tag, tag, #id, .class {}

.class img
<div class="class">
  <img ...>
</div>
*/

* { margin : 0 ; padding : 0 ; }
p {
  margin: 1em;
}
body {
	color : #22bbcc ;
}
a {
  color: #6D84B4;
  font-weight: bold;
  text-decoration: none;
}
a:hover { text-decoration: underline; }

#header { width : 80% ; height : 150px ; margin-bottom: 10px;}
#footer { width : 80% ; clear : both ; color : #fc0082 ; margin: 10px 50px;}

.error {
  width : 700px ;
	margin: 0 auto;
  color: red;
}

#common-main { 
	position : relative ;
	margin: 0 auto; width : 700px ;
  padding-right: 20%;
}

#common-right { float : left ; width : 350px ; }
#common-left { float : left ; width : 350px ; }

/** /index **/
.photo-list { width : 350px ; }
.photo-block { clear: both; width : 350px ; padding: 10px;}

.cosmetic-list { width : 350px ; }
.cosmetic-block { clear: both; width : 350px ; padding: 10px;}

.photo { float : left ; }
.explanation { float: left; width : 150px ; }

.user-name { font-weight: normal; }
.user-level { font-size: 80%; }
.date { color: #999; font-size: 80%; }

.cosme-photo { font-size: 80%; }
.cosme-name { font-size: 80%; }
.cosme-brand { font-size: 80%; }
.cosme-part { font-size: 80%; }
.jancode { font-size: 80%; }
.cosme-color { font-size: 80%; }
.cosme-url { font-size: 80%; }
.cosme-edit { font-size: 80%; }

/** /face/1 **/
#face-main { 
	position : relative ;
	margin: 0 auto; width : 1000px ;
}
#photoset-mainphoto { float: left; width: 900px }
#photoset-mainphoto img { width: 900px;}

#photoset-parts { float: left; width: 100px; }
#photoset-parts img { width: 100px; padding: 5px; }
#photoset-description {
  clear: both;
  color: #333;
  margin-top: 3px;
  border-bottom: 1px solid #E5EAF1;
  padding: 5px 5px 4px;
  background-color: #EDEFF4;
  width: 500px;
}
#photoset-like {cursor: pointer; font-size: 80%; color: #6D84B4; }
#photoset-like:hover { text-decoration: underline; }

#photoset-like-count {
  font-size: 80%;
}

.face-cosmetic-block { float: left; width : 250px ; padding: 10px;}

.cosme-edit-label { 
  float: left;
  font-size: 125%;
}

.explanation .cosme-url img {
  width: 16px;
  height: 16px;
}
.explanation .cosme-edit img {
  width: 16px;
  height: 16px;
}
