@charset "utf-8";

/*
汎用的なベースとなるスタイルシート。
適当に自分が読みやすいvalidなhtmlを書けばそれで
そこそこ見ることのできるページが書ける。
といいなあって感じ。
*/

* { margin : 0 ; padding : 0 ; }
body { 
	width : 100% ;
	background-color : #efeff0 ;
	color : #3399cc ;
}
#my_body { 
	position : relative ;
	margin: 0 auto; width : 700px ;
}
#my_header { width : 100% ; height : 150px ; }
#my_footer { width : 100% ; clear : both ; color : #fc0082 ; }
#my_face_photos { float : left ; width : 350px ; }
#my_cosmetics { float : left ; width : 350px ; }

#photos { float : left ; width : 100px ; }
#explanation { float : left ; width : 250px ; }

h1,h2,h3,h4,h5,h6 {
  padding:0.1em;
  margin:0 0 0 0;
  width:80%;
  color: navy;
}
h1 {
  padding-left:1em;
  margin:0 -1em 10px -1em;
  width:100%;
  background-color:#58a;
  color: white;
}
h2 {background-color: #daeafa}
h3 {margin-left:1em; background-color: #eaeafa}
h4 {margin-left:2em; background-color: #eaeffd}
h5 {margin-left:3em; background-color: #f0f0ff}
p,dl,ul,ol,address,pre,form {
  margin:1em 7em 1em 2em;
  line-height:1.5em;
}
img {
  border:0;
}
blockquote {
  margin:0 10% 0 10%;
  font-style:italic;
  background-color:#c3fee0;
}
dt {
  font-weight:bold;
}
pre {
  background-color:#dbecff;
}
code {
  background-color:#dbecff;
}

q {
  font-style:italic;
  background-color:#c3fee0;
}
cite {
  background-color:#cfcfff;
}
.error {
  color: red;
}
