<%=
  @title = "Login"
  erb :"common/header"
%>

<div id="index-main">

  <form action="/login" method="POST">
    <input type="text" name="name" />
    <input type="password" name="pass" />
    <input type="submit" value="login" />
  </form>

  <p>
  <a href="/create">Create New User</a>
  </p>

</div>
<%= erb :"common/footer" %>
