<%=
  @title = "#{session[:name]} Setting"
  @is_setting = true
  erb :"common/header"
%>

<div id="common-main">
  <form action="/setting" method="POST">
    <dl>
      <dt>パスワード変更</dt>
      <dd><input type="password" name="pass1" /></dd>
      <dt>パスワード変更（確認）</dt>
      <dd><input type="password" name="pass2" /></dd>
    </dl>
    <input type="submit" value="更新" />
  </form>
</div>
<%= erb :"common/footer" %>
