<%=
    @title = "My Page"
    erb :"common/header"
%>

<div id="content-main">

    <div class="photo-list">
        <% photo_list.each do|photo| %>
            <div class="photo-block">
                <span class="photo">
                    <img src="/photo/thumb/2">
                </span>
                <div class="explanation">
                    <span class="user-name">MKnkgw</span><br />
                    <span class="user-level">middle member</span><br />
                    <span class="date">2011/4/24</span>
                </div>
            </div>
        <% end %>
    </div>

    <div class="cosmetic-list">
        <div class="cosmetic-block">
            <span class="photo">
                <img src="/cosme/thumb/0">
            </span>
            <div class="explanation">
                Eye<br />
                JAN:4901872152497<br />
                <a href="http://item.rakuten.co.jp/putistyle/10009939/">Buy now!</a>
            </div>
        </div>
        <div class="cosmetic-block">
            <span class="photo">
                <img src="/cosme/thumb/3">
            </span>
            <div class="explanation">
                Eye<br />
                JAN:4901872152497<br />
                <a href="http://item.rakuten.co.jp/putistyle/10009939/">Buy now!</a>
            </div>
        </div>
    </div>

</div>

<%= erb :"common/footer" %>
