<%=
  @title = "#{@user_name} on COSMEnication"
  erb :"common/header"
%>

<div id="common-main">

<div id="common-left">
  <div class="photo-list">
    <% @photo_list.each do|photo| %>
      <div class="photo-block">
        <%=
          @photo = photo
          @link_photo_user_name = true
          erb :"common/photo_block"
        %>
      </div>
    <% end %>
  </div>
</div>

<div id="common-right">
  <div class="cosmetic-list">
    <% @cosme_list.each do|cosme| %>
      <div class="cosmetic-block">
        <%=
          @cosme = cosme
          erb :"common/cosmetic_block"
        %>
      </div>
    <% end %>
  </div>
</div>

</div>

<%= erb :"common/footer" %>
